#chat-screen{
    background-color: #ABC1D1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
    position: fixed;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ABC1D1;
}

#chat-screen .status-bar{
    z-index: 2;
}

#chat-screen .alt-header__column {
    width: 33%;
}

#chat-screen .alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
}

#chat-screen .alt-header__column:nth-child(2) {
    text-align: center;
}

#chat-screen .alt-header__column span:last-child {
    margin-left: 15px;
}

#main-chat {
    display: flex;
    justify-content: center;
}

.chat__date{
    margin-top: 120px;
    color: white;
    background-color: #92a4b2;
    padding: 8px 15px;
    border-radius: 15px;
}