.row-icons{
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0px;
}

.row-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.row-icons__icon i {
    margin-bottom: 15px;
}